.title-bg-one {
    background-image: url(https://templates.hibootstrap.com/opnix/rtl/assets/images/title/1.jpg);
}
.page-title-area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;   
    height: 450px;
    background-blend-mode: saturation; 
}
.aa{
    background: rgba(255, 255, 255, 0.616);
    height: "100%" ;
}