.button-style{
   color:#20bdd1 ;
   border:none;
   font-size:17px ;
   font-weight: 600;
   text-align: center;
   background-color: #ffffff;
}
.title{
   color: #20bdd1;
   font-size: 22px;
   margin-bottom: 10px;
}
.title:hover{
   color: #20bdd1;
   cursor: pointer;
}
.box{
border-radius: 5%;
}
p{
   font-family: "Jost", sans-serif;
   color: black;
   font-size: smaller;  
   font-weight: 500;
   line-height: 1.7;

}
.text-align{
   text-align: start;
}