.button-style{
   color:#20bdd1 ;
   border:none;
   font-size:17px ;
   font-weight: 600;
   text-align: center;
   background-color: #ffffff;
   transition: font-size 2s;
}
.button-style:hover{
   font-size: 18px;
}
.title{
   color: #20bdd1;
   font-size: 22px;
   margin-bottom: 10px;
}
.title:hover{
   color: #20bdd1;
   cursor: pointer;
}
.box{
   box-shadow: -1px 6px 49px 6px rgba(205, 226, 230, 0.521);
   -webkit-box-shadow: -1px 6px 49px 6px rgba(188, 219, 224, 0.521);
   -moz-box-shadow: -1px 6px 49px 6px rgba(216, 228, 230, 0.521);
border-radius: 5%;
}
p{
   font-family: "Jost", sans-serif;
   color: black;
   font-size: smaller;  
   font-weight: 500;
   line-height: 1.7;

}
.text-align{
   text-align: start;
}
.box img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: width 10s;
}
