body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #35405c;
    background-color: #fff;
    font-size: 17px;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }
  .upper-part img{
      top: 0;
      left: 0;
      max-width: 60px;
      border-radius: 50%;
margin-left: 20px;  
margin-top: 0;
}
.upper-part h3{
    font-size: 22px;
    margin-bottom: 5px;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}
.review-part{
  margin-top: 20px;
  text-align: end;
  padding-bottom: 20px;
}
.review-card{
  background-color: #20bdd1;
  padding: 35px;
  border-radius: 10px;
  margin: 20px;
}
.review-part p{
  font-size: 18px;
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;

}

  